<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dubbo_hmily.smb_dao.mapper.UserMapper">

<!--    开启mybatis cache  -->
<!--    <cache type="org.mybatis.caches.ehcache.LoggingEhcache">-->
<!--        <property name="memoryStoreEvictionPolicy" value="LRU"/>-->
<!--    </cache>-->

    <resultMap id="BaseResultMap" type="dubbo_hmily.smb_api.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="INTEGER" property="age" />
    </resultMap>

    <!--<resultMap id="ProductResultMap" type="io.kimmking.cache.entity.Product">-->
        <!--<result column="id" jdbcType="INTEGER" property="id" />-->
        <!--<result column="productName" jdbcType="VARCHAR" property="productName" />-->
        <!--<result column="number" jdbcType="INTEGER" property="number" />-->
    <!--</resultMap>-->

    <select id="findUserById" parameterMap="BaseResultMap" >
        select * from user where id = #{id}
    </select>

    <select id="findAll" parameterMap="BaseResultMap" >
        select * from user
    </select>

    <insert id="add" parameterMap="BaseResultMap" >
INSERT INTO user VALUES (User.name,User.age);
    </insert>

    <update id="updateUser" parameterMap="BaseResultMap" >
        UPDATE TABLE user name,age VALUES (User.name,User.age) where id = User.id
    </update>

    <delete id="deleteUser" >
    DELETE user where id = #{id}
    </delete>

    <!--插入一万条以内的数据-->
    <insert id="insert" parameterType="java.util.List">
        insert into users (id,name,comment) value
          <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.name},#{item.comment})
          </foreach>
    </insert>
    <!--<select id="all" resultType="io.kimmking.cache.entity.Product">-->
        <!--select * from user-->
    <!--</select>-->

</mapper>
